<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="Berel Interface">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gabriel Ramos">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" />
    <!-- endbower -->

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css" >
    <!-- endbuild -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
  </head>
  <body ng-app="berelWebApp" ng-controller="MainCtrl" ng-class="[{ 'bakcground': !isLogged }]">
    <header class="navbar" ng-cloak style="background: #ec1c2c;">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-5 col-sm-4" ng-show="isLogged">
                    <a href style="cursor:pointer;text-decoration:none;" onclick="openNav()">
                        <img src="images/Logo.png" width="64px" />&nbsp;&nbsp;
                    </a>
                    <span style="font-family: 'Ubuntu', sans-serif;font-size:2em;color:#fff;">Berel Interface
                    </span>
                </div>
                <div id="top-panel" class="col-xs-7 col-sm-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 top-panel-right">
                            <ul class="nav navbar-nav pull-right panel-menu loginAvatar" ng-show="isLogged">
                                <li uib-dropdown>
                                    <a href="#" class="account" uib-dropdown-toggle>
                                        <div class="avatar iconLogin">
                                            <span class="fa fa-user fa-2x" aria-hidden="true"></span>
                                            <!--<img src="images/user-default.png" class="img-circle" alt="avatar" width="15%" />-->
                                        </div>
                                        <!--<i class="fa fa-angle-down fa-fw pull-right"></i>-->
                                        <div class="user-mini pull-right">
                                            
                                            <span class="wellcome">
                                                Bienvenido <br>
                                                {{usuarioActivo.Nombre}}
                                            </span>
                                            <!--<span class="usuarioLogueado">{{usuarioActivo.Nombre}}</span>-->
                                        </div>
                                    </a>
                                    <ul uib-dropdown-menu>
                                        <li>
                                            <a href="#" ng-click="cerrarSesion()">
                                                <i class="fa fa-power-off fa-fw"></i>
                                                <span>Cerrar Sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/yellow.jpg);"></div>
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/green.jpg);"></div>
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/blue.jpg);"></div>
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/navyblue.jpg);"></div>
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/pink.jpg);"></div>
        <div class="col-md-2" style="min-height: 4px;background-image: url(images/orange.jpg);"></div>
    </div>

    <div id="main">
          
    <div ng-class="['container-fluid', 'main', { 'sidebar-show': isLogged }]">
        <div class="row">
                <div id="mySidenav" class="sidenav" ng-show="isLogged">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <a uib-dropdown-toggle ui-sref="ventaHomeDepot({menu:true})" ng-if="VentaHomeDepotVisible">
                        <span class="fa fa-bar-chart" aria-hidden="true"></span>
                        <span>Venta Home Depot</span>
                    </a> 
                    
                    <a uib-dropdown-toggle ui-sref="consultaUUID({menu:true})" >
                        <span class="fa fa-download" aria-hidden="true"></span>
                        <span>Recepcion Factura</span>
                    </a>
                    
                    <hr class="style7">
                    <a uib-dropdown-toggle ui-sref="ReporteComisiones({menu:true})" ng-if="RepComisionesVisible">
                        <span class="fa fa-percent" aria-hidden="true"></span>
                        <span>Reporte Comisiones</span>
                    </a>
                    <a uib-dropdown-toggle ui-sref="ReportePromo({menu:true})" ng-if="RepoPromoVisible">
                        <span class="fa  fa-file" aria-hidden="true"></span>
                        <span>Reporte Promo</span>
                    </a>
                    <a uib-dropdown-toggle ui-sref="ReportePedidoPromo({menu:true})" ng-if="ReportePedidoPromoVisible">
                        <span class="fa  fa-file" aria-hidden="true"></span>
                        <span>Consulta Pedidos</span>
                    </a>
                </div>
         
            <div class="col-xs-12 content" ng-show="isLogged">
                <div class="margin-top-10" ui-view>                        
                </div>
            </div>
            <div class="col-xs-12 content" ng-show="!isLogged">
                <div class="margin-top-10" ui-view>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div style="margin-top:18%;"></div>

    <div class="footer">
        <div class="container" style="text-align:right;">
            <p> Pinturas Berel S.A. de C.V. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/yellow.jpg);"></div>
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/green.jpg);"></div>
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/blue.jpg);"></div>
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/navyblue.jpg);"></div>
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/pink.jpg);"></div>
        <div class="col-md-2" style="min-height: 3px;background-image: url(images/orange.jpg);"></div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->    
    <script src="bower_components/lodash/lodash.js"></script> 
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/angular-simple-logger/angular-simple-logger.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/moment/moment.js"></script>    
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script> 

    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/checklist-model/checklist-model.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/ng-sweet-alert/ng-sweet-alert.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>

    <script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>    
    <script src="bower_components/angular-i18n/angular-locale_es-mx.js"></script>
        
    <!-- bower:js -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ngSweetAlert/SweetAlert.js"></script>
    <script src="bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <script src="scripts/modules/modalLoading.js"></script>
    <script src="scripts/modules/xml2json.js"></script>
    <script src="scripts/modules/md5.js"></script>
    
    <script src="scripts/modules/hmac-md5.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/configuracion.js"></script>
    <script src="scripts/services/autenticacion.js"></script>
    <script src="scripts/services/berconfig.js"></script>
    
    <script src="scripts/controllers/inicio.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/sweetalert.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/reporte.js"></script>
    <script src="scripts/filters/capitalize.js"></script>
    <script src="scripts/services/catalogogeneral.js"></script>
    <script src="scripts/controllers/reportecomisiones.js"></script>
    <script src="scripts/controllers/reportepromo.js"></script>
    <script src="scripts/controllers/ventahomedepot.js"></script>
    <script src="scripts/controllers/konesh.js"></script>
    <!-- endbuild -->
</body>
</html>
