img.img-circle{
    background-color: #FFF;
    padding: 2px;
}

.sucursal-name{
    margin-left: 15px;
}

#logo, .top-panel-right{
    background-color: #253746;
}

#sidebar-left{
    background-color: #1C2A35;
}

li.dropdown>a.dropdown-toggle{
    color: #FFF;
}

.account > i.fa{
    color: white;
}