$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$screen-lg: 1400px !default;
$fa-font-path: "../bower_components/components-font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import "devoops.scss";
@import "blue_theme.scss";
@import "ownstyles.scss";
@import "tiles.scss";
body {
    font-family: 'Roboto';
    background-color:green;
}

.title-name {
    font-size: 1.5em;
    color: white;
    margin: 0px 10px 0px 0px;
}

.icono-editar {
    cursor: pointer;
    font-size: 15px;
}

#sidebar-left {
    height: calc(100vh - 51px);
    overflow: auto;
}

.modal-map {
    height: calc(100vh - 295px);
}

.modal-map>ui-gmap-google-map>div.angular-google-map>.angular-google-map-container {
    height: calc(100vh - 295px);
}

.angular-google-map-container {
    height: calc(100vh - 235px);
}

.modal-loading-icon {
    padding: 5px 0;
}

.modal-loading {
    padding-top: calc(100vh - 62vh);
}

.pdv-direccion {
    font-size: 11px;
}

.lista-clientes {
    width: calc(100vh + 900px);
}

.lista-tomasInventario {
    width: calc(100vh + 700px);
}

.ng-table-pagination {
    margin: 5px 0 10px;
}

textarea {
    resize: none;
}

.div-reporte-ventas {
    width: 100vw;
    .table {
        font-size: 0.95vw;
    }
    &.sku {
        width: 125vw;
    }
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: #d9edf7;
    }
    .letra-chica{
      font-size: 0.9em;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.alert-disabled {
    background-color: #e2e2e2;
    border-color: #b1b1b1;
    color: #a7a7a7;
}


.marca-nombre{
    white-space:nowrap;
}

.angular-google-map-container { height: 400px; }

/* Berel CSS */
input[type="text"] {
    height: 52px;
    width: 50px;
    display: block;
    font-size: 2em;
    border-bottom:1px solid gray;
    text-align: center;
    background:red;
}


/*.modal-map>ui-gmap-google-map>div.angular-google-map>.angular-google-map-container {
    height: calc(100vh - 295px);
}

.angular-google-map-container {
    height: calc(100vh - 235px);
}*/
