.main{
    min-height: 92vh;
}

.vertical-offset-100{
    padding-top:100px;
}

.vertical-offset-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.upper-case{
    text-transform: uppercase;
}

.splash {
    position: fixed;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.splash-inner{
    background: 
        url('../images/pinlayer1.png'),
        url('../images/pinlayer2.png'),
        url('../images/back.png');
    height: 100%;
    width: 100%;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.login.panel-title{
    font-size: 1.6em;
}

.sucursalModal{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
}

.sucursal-container{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.sucursal-name{
    font-size: 1.1em;
    color: white;
    margin: 0px 10px 0px 0px;
}
.sucursal-name a{
    text-decoration: none;
    color:rgba(255,255,255,0.4);
    font-size: 0.8em;
}

.sucursal-name a:hover{
    color:rgba(255,255,255,1);
}

.user-mini>span{
    font-size: 1em;
    color: white;
    margin-bottom: 0px;
}

.panel-menu .dropdown-menu{
    background-color: white !important;
    border: 1px solid #636363;
}

.panel-menu .dropdown-menu>li{
    padding: 5px 10px;
    border-bottom: 1px solid #636363;
}

.panel-menu .dropdown-menu>li>a{
    color: #404040;
}

.panel-menu .dropdown-menu>li>a:hover{
    background-color: transparent;
}

.panel-menu .dropdown-menu>li:hover{
    background-color: #EAEAEA;
}

.ajax-link>i,.dropdown-toggle>i{
    margin-right: 10px;
}

.toggle-si-no:before{
    content: "Si";
}

.toggle-si-no:after{
    content: "No";
}

.star-color{
    color: #E8E865;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-25{
    margin-top: 25px;
}

.marker-labels {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}

a.show-sidebar{
    margin-left: 0px;
    margin-right: 10px;
    font-size: 1em;
    /*width: inherit;*/
}

@media (min-width: 768px){
    .angular-google-map-container { 
        height: 540px; 
    }
}

@media (min-width: 1400px){
    .angular-google-map-container { 
        height: 830px; 
    }
}

[uib-datepicker-popup-wrap]{
    padding: 5px 10px;
}

[uib-datepicker-popup-wrap] table button{
    border: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    -moz-appearance: searchfield-cancel-button;
    appearance: searchfield-cancel-button;
}

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    max-height: 400px;
    overflow: auto;
}

.custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    border: none;
}

.custom-popup-wrapper > .dropdown-menu > li {
    border-top: 1px solid #F4F4F4;
}

.custom-popup-wrapper > .dropdown-menu > li:first-child {
    border-top: none;
}

.align-center{
    text-align: center;
}

.imagen-evidencia{
    cursor: pointer;
    font-size: 15px;
}

.table-reporte>thead, .table-reporte> tfoot, .ng-table th{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.table-reporte{
    font-size: 13px;
    margin-bottom: 0;
}

hr{
    margin-top: 0;
}

.modal-arrow-icon{
    font-size: 1.5em;
    cursor: pointer;
}

.input-filter{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.tab-content{
    padding-top: 20px
}

.tfoot-no-border tfoot>tr>td{
    border-top: none !important;
}
