
.form-control.custom {
    width: 100px;
}

.incidenciaRevisada{
    color:green;
    font-size: 1.5em;
}

.incidenciaPendiente{
    color:#F4920D;
    font-size: 1.5em;
}

.incidenciaError{
    color:#CB2807;
    font-size: 1.5em;
}

.btn span.glyphicon {    			
	opacity: 0;	
    text-align: center;
    color:white;
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.btn.descansoLun {
  color: #fff;
  background-color: #71303F;
  border-color: #5D0016;
}

.descansoLun:hover {
  color: #fff;
  background-color: #541E30;
  border-color: #721443;
}

.menuLink {
    background-color: #5D0016;
    color:white;
}
/*------------------------------------------------------------------------*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:#444444; /* #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

hr.style7 {
	border-top: 1px solid #342D2D;
    border-bottom: 1px solid #8D8A8A;
    margin-left:2%;
    margin-right: 2%; 
}

.usuarioLogueado{
    float: right;
    margin-top:10%;
}

.iconLogin{
    float: left;
    padding:2%;
}

.InicioSistema{
    background: #EAE9E9;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

.parrafo{
    font-size: 1em;
}

.iconAprobado {
    cursor: pointer;
    font-size: 15px;
    color:green;
}

.stateUsuario{
    padding:3px;
    background-color: red;
}

td.custom{
    width:10%;
    float:left;
    word-wrap:break-word;
    text-align: center;
}

td.customSmall{
    width:5%;
    float:left;
    word-wrap:break-word;
    text-align: center;
}

td.customMedium{
    width:15%;
    float:left;
    word-wrap:break-word;
    text-align: center;
}

td.customLarge{
    width:35%;
    float:left;
    word-wrap:break-word;
    text-align: center;
}

.itemSolicitud{
    border:1px solid #BBBDBE;
    border-radius: 5px;
    padding:5px;
    margin:3px;
  }

  span.indent-right { padding-right:3%; }

  .btn-fachada {
    color: #fff;
    background-color: #DD4B18;
    border-color: #DD4B18;
  }

  .table > tbody > tr > td.small {
    text-align: right;
    padding-right: 40px;
  }

  .table > tbody > tr > td.medium {
    text-align: right;
    padding-right: 80px;
  }

  .table > tbody > tr > td.medium-left {
    text-align: left;
    padding-right: 80px;
  }

  .table > tbody > tr > td.large {
    text-align: right;
    padding-right: 150px;
  }

  body.bakcground {    
    border:1px solid green;
    background: url("../images/circuito2.png") no-repeat left bottom;
  }

