$color_purple: #8C0095;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;
$color_teal: #008299;
$color_dark_purple: #5133AB;
$color_sky_blue: #094AB2;
// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/
$base_font_size: 14px;
$base_line_height: 1em;
$text_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
$display_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
strong {
    font-weight: 400;
}

.tile {
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 10px 15px 5px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    strong {
        font-weight: 600;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $display_font_family;
        line-height: $base_line_height;
        font-weight: 300;
    }
    .title {
        margin-top: 0px;
        font-size: 2.5vw;
    }
    div>p {
        font-size: 0.9vw;
    }
    &.purple,
    &.blue,
    &.red,
    &.orange,
    &.green,
    &.teal,
    &.dark-purple,
    &.sky-blue {
        color: #fff;
    }
    &.purple {
        background: $color_purple;
        &:hover {
            background: darken($color_purple, 10%);
        }
    }
    &.red {
        background: $color_red;
        &:hover {
            background: darken($color_red, 10%);
        }
    }
    &.green {
        background: $color_green;
        &:hover {
            background: darken($color_green, 10%);
        }
    }
    &.blue {
        background: $color_blue;
        &:hover {
            background: darken($color_blue, 10%);
        }
    }
    &.orange {
        background: $color_orange;
        &:hover {
            background: darken($color_orange, 10%);
        }
    }
    &.teal {
        background: $color_teal;
        &:hover {
            background: darken($color_teal, 10%);
        }
    }
    &.dark-purple {
        background: $color_dark_purple;
        &:hover {
            background: darken($color_dark_purple, 10%);
        }
    }
    &.sky-blue {
        background: $color_sky_blue;
        &:hover {
            background: darken($color_sky_blue, 10%);
        }
    }
    &.small {
        padding: 5px 10px 0px 10px;
        margin-bottom: 10px;
        .title {
            font-size: 2.2vw;
        }
        div>i.fa {
            font-size: 1.8vw;
        }
        div>p {
            font-size: 0.9vw;
        }
    }
}

.tile>div>i.fa {
    font-size: 3vw;
    opacity: 0.5;
    margin-top: 5px;
}

.tile>div[class^="col-md-"] {
    padding: 0px;
}

