<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>
                        <span class="fa fa-file" aria-hidden="true"></span>
                        <small>Recepción de Documento</small>
                    </h2>
                    <p class="decripcionModule">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        Consulte el estatus de recepción de una factura mediante su UUID.
                        <span ng-click="obtenerAyuda()">
							<i class="fa fa-question-circle-o fa-1x"></i>
						</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-form="form" style="padding-left:20%;">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">UUID</label>
                        <input  class="form-control" name="uuid" size="32" ng-model="uuid"  placeholder="uuid" required>
                      </div>
                </div>
            </div>

            <div class="col-md-3 text-right">
                <button class="btn btn-success" style="margin-top:24px" ng-click="consultarUUID()" ng-disabled="!uuid" >
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>

            <div class="col-md-3" ng-show="false">
                <button class="btn btn-primary export pull-right" style="margin-top:24px" csv-header="getHeadersNgCsv()" ng-csv="getArrayNgCsv()"
                    quote-strings="true" add-bom="true" filename="{{getFileNameNgCsv()}}.csv" field-separator="," decimal-separator=".">
                    <i class="fa fa-file-excel-o"></i> Exportar a Excel
                </button>

            </div>

        </div>

        <div class="row" style="margin-top:10px; padding-left:20%;">
            <div class="col-sm-8">
                <span ng-show="showAlert">
                    <div class="alert alert-warning" role="alert" style="font-size:1.2em;">
                        <i class="fa fa-warning"></i>&nbsp;&nbsp;No se ha recibido documento para el UUID consultado
                    </div>
                </span>
            </div>    
        </div>


        <hr>
        <div class="row" ng-show="ocultarAceptado">
            <div class="col-md-12">
                <table ng-table="tableParams" class="table table-reporte table-condensed" ng-show="reporte.length>0">
                    <tr ng-repeat="r in $data">
                        <td class="col-md-1 small" title="'Serie'" >{{r.Serie}}</td>
                        <td class="col-md-1 small" title="'Folio'"style="padding-left:2%;" >{{r.Folio}}</td>
                        <td class="col-md-1 medium" title="'Rfc'" >{{r.RfcEmisor}}</td>
                        <td nowrap class="col-md-1 " title="'Emisor'" >{{r.NombreEmisor}}</td>
                        <td class="col-md-1 medium" style="padding-right:3%;" title="'Total'" align="right">{{r.Total | number:2 }}</td>
                        <td class="col-md-1 medium" style="padding-left:3%;" title="'FechaEmision'" >{{r.FechaEmision | date:"dd.MM.y"}}</td>
                        <td class="col-md-1 medium" style="padding-left:3%;" title="'FechaRecepcion'" >{{r.FechaRecepcion | date:"dd.MM.y"}}</td>
                        <td class="col-md-1 medium" style="padding-left:3%;" title="'Estatus'" >{{r.Estado}}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total de registros :  {{reporte.length}}</td>
                            <td colspan="8"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div>
            <div class="col-md-12" ng-show="ocultarRechazado">
                <table ng-table="tableParams" class="table table-reporte table-condensed" ng-show="reporte.length>0">
                    <tr ng-repeat="r in $data">                        
                        <td class="col-md-10 medium-left" title="'Descripcion'" >{{r.Descripcion}}</td>
                        <td class="col-md-1 medium" style="padding-left:3%;" title="'Estatus'" >{{r.Estado}}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total de registros :  {{reporte.length}}</td>
                            <td colspan="8"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>