<div style="padding: 1%;">
</div>
<div class="InicioSistema">
  <h2>Bienvenido </h2>
  <!--<h3><span class="label label-default">Ver. 1.0.0</span></h3>-->
  <!--<p class="parrafo">Este sistema permite consultar las asistencias en tienda de los promotores Home Depot.</p>
  <p class="parrafo">Valide las entradas y salidas de tienda.</p>
  <p class="parrafo">Valide horarios de comida.</p>
  <p class="parrafo">Valide la identidad de cada promotor mediante la foto.</p>-->
</div>