<div class="row">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div style="padding:5%;"></div>
            <!-- http://192.168.1.37/BerfondoWebApp/images/Logo.png -->
            <img class="img-responsive img-rounded" src="images/Interface.png" width="100%" />
        </div>
    </div>
</div>
<div class="row">   
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4" style="text-align:center;">
        <h3 style="font-family: 'Ubuntu'">Berel Interface </h3> 
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="col-md-12 col-lg-10 col-lg-offset-1 login">
            <div ng-form="frmLogin">
                <div class="form-group" ng-class="{'has-success': frmLogin.txtUsuario.$valid, 'has-error': frmLogin.txtUsuario.$invalid}">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-user"></span>
                        </span>
                        <input type="text" ng-keydown="siguiente($event)" name="txtUsuario" class="form-control" ng-model="login.Usuario" placeholder="Usuario"
                            required maxlength="100">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': frmLogin.txtPassword.$valid, 'has-error': frmLogin.txtPassword.$invalid}">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-key"></span>
                        </span>
                        <input type="password" ng-keydown="entrar($event)" name="txtPassword"  class="form-control" ng-model="login.Password"
                            placeholder="Contraseña" required maxlength="100">
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group">
                        <button type="submit" ng-click="login()" ng-disabled="frmLogin.$invalid" class="btn btn-success">
                            Acceder
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>