<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>
                        <span class="fa fa-file" aria-hidden="true"></span>
                        <small>Reporte Promocion</small>
                    </h2>
                    <p class="decripcionModule">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        Consulte estatus por numero de cliente
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-form="form" style="padding-left:20%;">
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Cliente</label>
                        <input  class="form-control" name="Cliente" ng-model="Cliente"  placeholder="No Cliente" required>
                      </div>
                </div>
            </div>

            <div class="col-md-3 text-right">
                <button class="btn btn-success" style="margin-top:24px" ng-click="obtenerReporte()" ng-disabled="!Cliente" >
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>

            <div class="col-md-3" ng-show="reporte.length > 0">
                <button class="btn btn-primary export pull-right" style="margin-top:24px" csv-header="getHeadersNgCsv()" ng-csv="getArrayNgCsv()"
                    quote-strings="true" add-bom="true" filename="{{getFileNameNgCsv()}}.csv" field-separator="," decimal-separator=".">
                    <i class="fa fa-file-excel-o"></i> Exportar a Excel
                </button>

            </div>

        </div>

        <div class="row" style="margin-top:10px; padding-left:20%;">
            <div class="col-sm-8">
                <span ng-show="showAlert">
                    <div class="alert alert-warning" role="alert" style="font-size:1.2em;">
                        <i class="fa fa-warning"></i>&nbsp;&nbsp;El sistema ERP esta presentando Bloqueo en la consulta, intenta nuevamente.
                    </div>
                </span>
            </div>    
        </div>


        <hr>
        <div class="row" ng-show="reporte.length>0">
            <div class="col-md-12">
                <table ng-table="tableParams" class="table table-reporte table-condensed" show-filter="true" ng-show="reporte.length>0">
                    <tr ng-repeat="r in $data" ng-class="{'selectedRow':$index == selectedRow}" ng-click="setRowSelected($index)">
                        <td title="'#'">{{$index + 1}}</td>
                        <td class="col-md-1" title="'Cliente'" >{{r.Cliente}}</td>
                        <td nowrap class="col-md-2" title="'Nombre'" >{{r.Nombre}}</td>
                        <td class="col-md-2" style="padding-left:3%;" title="'Linea'" >{{r.Linea}}</td>
                        <td class="col-md-1" style="padding-right:3%;" title="'Tope'" align="right">{{r.Tope  | number:0 }}</td>
                        <td class="col-md-1" style="padding-right:3%;" title="'Litros'" align="right">{{r.Litros | number:0 }}</td>
                        <td nowrap class="col-md-1" style="padding-left:3%;" title="'Estatus'" >{{r.Estatus}}</td>
                        <td class="col-md-2" style="padding-right:5%;" title="'Disponible'" align="right">{{r.Disponible | number:0 }}</td>
                        <td class="col-md-1" style="padding-right:3%;" title="'Cubetas'" align="right">{{r.Cubetas | number:0 }}</td>
                        <td class="col-md-2" style="padding-right:3%;" title="'Galones'" align="right">{{r.Galones | number:0 }}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total de registros</td>
                            <td colspan="6">{{reporte.length}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>