<div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>
                            <span class="fa fa-percent" aria-hidden="true"></span>
                            <small>Reporte Comisiones</small>
                        </h2>
                        <p class="decripcionModule">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>	
                            Reporte que genera información para el cálculo de comisiones.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-form="form">
            <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <div class="input-group">
                        <label for="">Supervisor </label>
                        <select class="form-control" required ng-model="filtros.supervisores" ng-change="obtenerTiendas(filtros.supervisores)" ng-options="r.Descripcion for r in supervisores track by r.ID" required>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <div class="input-group">
                        <label for="">Tienda </label>
                        <select class="form-control" required ng-model="filtros.tiendas"  ng-change="obtenerPromotores(filtros.tiendas)" ng-options="r.Descripcion for r in tiendas track by r.ID" required>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <div class="input-group">
                        <label for="">Promotor </label>
                        <select class="form-control" required ng-model="filtros.promotores"  ng-options="r.Descripcion for r in promotores track by r.ID" required>
                        </select>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-lg-2">
                    <div class="form-group">
                        <label for="">Fecha Inicio</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="openCalendar(1)"><span class="fa fa-calendar"></span></button>
                            </span>
                            <input type="text" required class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="filtros.fechaInicio" show-weeks="false"
                                is-open="openedFechaInicio" max-date="{{::maxDate}}" ng-click="openCalendar(1)" datepicker-options="dateOptions" readonly
                                show-button-bar="true" current-text="Actual" clear-text="Limpiar" close-text="Cerrar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Fecha Fin</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="openCalendar(2)"><span class="fa fa-calendar"></span></button>
                            </span>
                            <input type="text" required class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="filtros.fechaFin" show-weeks="false"
                                is-open="openedFechaFin" min-date="filtros.fechaInicio" max-date="{{::maxDate}}" ng-click="openCalendar(2)" datepicker-options="dateOptions"
                                readonly show-button-bar="true" current-text="Actual" clear-text="Limpiar" close-text="Cerrar" />
                        </div>					
                    </div>
                </div>
                
                <div class="col-md-2 col-lg-2">
                    <button class="btn btn-success" style="margin-top:24px" ng-disabled="form.$invalid" ng-click="obtenerReporte()">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>
                
    
            </div>
            <div class="row">
                <span style="margin-top:5%;"></span>
                <div class="col-md-7" ng-show="reporte.length > 0">
                    <button class="btn btn-primary export btn-lg pull-right" ng-click="bajarReporte()">
                        Descargar Reporte <span class="fa fa-file-excel-o"></span>
                    </button>
                </div>
            </div>
        
            <hr>
            <!--<div class="row" ng-show="reporte.length>0">
                <div class="col-md-12">
                    <table ng-table="tableParams" class="table table-reporte table-condensed" show-filter="true" ng-show="reporte.length>0">
                        <tr ng-repeat="r in $data" ng-class="{'selectedRow':$index == selectedRow}" ng-click="setRowSelected($index)">
                        <td title="'#'">{{$index + 1}}</td>
                        <td class="col-md-1" title="'Promotor'" filter="{Promotor: 'text'}">{{r.Promotor}}</td>
                        <td class="col-md-2" title="'Agencia'" filter="{Promotor: 'text'}">{{r.Agencia}}</td>
                        <td class="col-md-1" title="'Nomina'" filter="{Tienda: 'text'}">{{r.Numero}}</td>
                        <td class="col-md-1" title="'Sueldo'" filter="{Tienda: 'text'}">{{r.Sueldo}}</td>
                        <td class="col-md-1" title="'DiasLab'" filter="{Tienda: 'text'}">{{r.DiasLaborados}}</td>
                        <td class="col-md-1" title="'Evaluacion'" filter="{Tienda: 'text'}">{{r.Evaluacion}}</td>
                        <td class="col-md-1" title="'Faltas'" filter="{Tienda: 'text'}">{{r.Faltas}}</td>
                        <td class="col-md-1" title="'Vacaciones'" filter="{Tienda: 'text'}">{{r.Vacaciones}}</td>
                        <td class="col-md-1" title="'Permisos'" filter="{Tienda: 'text'}">{{r.Permisos}}</td>
                        <td class="col-md-1" title="'FechaIng'" filter="{FechaVisita: 'text'}">{{r.FechaIngreso | date:"dd.MM.y"}}</td>
                        <td class="col-md-1" title="'FechaBaj'" filter="{FechaVisita: 'text'}">{{r.FechaBaja | date:"dd.MM.y"}}</td>                        
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total de registros</td>
                                <td colspan="6">{{reporte.length}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>-->
        </div>
    </div>
    