<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>
                        <span class="fa fa-bar-chart" aria-hidden="true"></span>
                        <small>Venta Home Depot</small>
                    </h2>
                    <p class="decripcionModule">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        Consulta la venta Sellout acumulada y descargala en formato excel.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block itemSolicitud">
                        <h3 class="card-title">
                            <span class="fa fa-file-text indent-right" aria-hidden="true"></span>Venta Acumulada
                        </h3>
                        <p class="card-text paddingIzquierdo">
                            Venta actualizada al
                            <span class="badge badgesCount btn-fachada">{{ UltimaDescarga }} </span>
                            Divisor : {{ Divisor }}
                        </p>
                        <button class="btn btn-fachada btn-md btn-block" ng-disabled="form.$invalid" ng-click="obtenerReporte(1)">
                            <i class="fa fa-search"></i> Consultar
                        </button>
                        <p></p>
                        <button class="btn btn-primary export btn-md btn-block" ng-click="bajarReporte(1)" ng-disabled="reporte.length === 0">
                            Descargar
                            <span class="fa fa-file-excel-o"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block itemSolicitud">
                        <h3 class="card-title">
                            <span class="fa fa-file-text indent-right" aria-hidden="true"></span>Venta Consolidada</h3>
                        <p class="card-text paddingIzquierdo">
                            Venta consolidada por numero de tienda.
                        </p>
                        <button class="btn btn-fachada btn-md btn-block" ng-disabled="form.$invalid" ng-click="obtenerReporte(2)">
                            <i class="fa fa-search"></i> Consultar
                        </button>
                        <p></p>
                        <button class="btn btn-primary export btn-md btn-block" ng-click="bajarReporte(2)" ng-disabled="reporte2.length === 0">
                            Descargar
                            <span class="fa fa-file-excel-o"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
</div>