<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>
                        <span class="fa fa-file" aria-hidden="true"></span>
                        <small>Consulta Pedidos</small>
                    </h2>
                    <p class="decripcionModule">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        Consulte estatus pedidos
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-form="form">
            <div class="col-md-6" style="padding-left:20%;">
                <button class="btn btn-success" style="margin-top:24px" ng-click="obtenerReportePedidos()">
                    <i class="fa fa-search"></i> Consultar Pedidos
                </button>
            </div>
            <div class="col-md-6" style="padding-right:20%;" ng-show="reporte.length > 0">
                <button class="btn btn-primary export pull-right" style="margin-top:24px" csv-header="getHeadersNgCsv()" ng-csv="getArrayNgCsv()"
                    quote-strings="true" add-bom="true" filename="{{getFileNameNgCsvPedidos()}}.csv" field-separator="," decimal-separator=".">
                    <i class="fa fa-file-excel-o"></i> Exportar a Excel
                </button>
            </div>

        </div>

        <div class="row" style="margin-top:10px; padding-left:20%;">
            <div class="col-sm-8">
                <span ng-show="showAlert">
                    <div class="alert alert-warning" role="alert" style="font-size:1.2em;">
                        <i class="fa fa-warning"></i>&nbsp;&nbsp;El sistema ERP esta presentando Bloqueo en la consulta, intenta nuevamente.
                    </div>
                </span>
            </div>
        </div>

        <hr>
        <div class="row" style="padding-left:10%;" ng-show="reporte.length>0">
            <div class="col-md-11">
                <table ng-table="tableParams" class="table table-reporte table-condensed" show-filter="true" ng-show="reporte.length>0">
                    <tr ng-repeat="r in $data" ng-class="{'selectedRow':$index == selectedRow}" ng-click="setRowSelected($index)">
                        <td class="col-md-2 customSmall" title="'#'">{{$index + 1}}</td>
                        <td nowrap class="col-md-2 custom" title="'Pedido'">{{r.Pedido}}</td>
                        <td nowrap class="col-md-2 custom" title="'Fecha'">{{r.Fecha | date:"dd-MM-y"}}</td>
                        <td nowrap class="col-md-2 custom" title="'Cliente'">{{r.Cliente}}</td>
                        <td nowrap class="col-md-2 customLarge" title="'Nombre'">{{r.Nombre}}</td>
                        <td nowrap class="col-md-2 custom" title="'Ultimo'">{{r.Ultimo}}</td>
                        <td nowrap class="col-md-2 custom" title="'Siguiente'">{{r.Siguiente}}</td>
                        <td nowrap class="col-md-2 customMedium" title="'Peso'">{{r.Peso | number:2}}</td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total de registros</td>
                            <td colspan="6">{{reporte.length}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>