  <div class="modal-header">
    <h4 class="modal-title">{{ tituloPagina}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        Coordenadas: {{randomMarkers}}
    </div>
  <div id="map_canvas">
    <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" events='map.events'>
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
 </div>
 </div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Aceptar ubicación</button>
</div>