<div class="container">
    <div class="row vertical-offset-20">
        <div class="col-md-6 col-md-offset-2">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title align-center">{{registro.Cliente | capitalize}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1 align-center">
                        <!--<span ng-show="showPrevious" ng-click="previous()">
                            <i class="fa fa-arrow-left modal-arrow-icon"></i>
                        </span>-->
                    </div>
                    <div class="col-md-10 align-center">
                        <a href="{{rutaImagen}}" target="_blank">
                            <img ng-src="{{rutaImagen}}" width="80%" class="img img-thumbnail" alt="">
                        </a>
                        <p>{{registro.Tienda}}</p>
                    </div>
                    <div class="col-md-1 align-center">
                        <!--<span ng-show="showNext" ng-click="next()">
                            <i class="fa fa-arrow-right modal-arrow-icon"></i>
                        </span>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p style="text-align:center;">Haz click en la foto para ver en grande.</p>
            </div>
        </div>
    </div>
</div>
