<style>
.angular-google-map-container { height: 400px; }    
</style>
<div class="modal-header">
    <h4 class="modal-title">{{ tituloPagina}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <!--<ul class="list-group">
            <li class="list-group-item justify-content-between">Ubicacion Tienda : 
                <span class="badge badge-default badge-pill">{{randomMarkers[0].latitude}} , {{randomMarkers[0].longitude}}</span>
            <img ng-src="images/marker_green.png" style="width: 15px;"></li>
            <li class="list-group-item justify-content-between">Ubicacion Registrada : 
                <span class="badge badge-default badge-pill">{{randomMarkers[1].latitude}} , {{randomMarkers[1].longitude}}</span>
            <img ng-src="images/marker_blue.png" style="width: 15px;"></li>
        </ul>-->
    </div>
  <div id="map_canvas">
    <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" events='map.events'>
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" options="'options'" click="windowOpen">
            <ui-gmap-windows show="show">
                <div>
                    <h4 ng-non-bindable>{{Cliente.Nombre}}</h4>
                    <h4 ng-non-bindable><small>{{Cliente.Direccion}}</small></h4>
                    <p>Latitud: <span ng-non-bindable>{{Cliente.latitud}}</span></p>
                    <p>Longitud: <span ng-non-bindable>{{Cliente.longitud}}</span></p>                    
                    <p>Entrada: <span ng-non-bindable>{{Cliente.Entrada}}</span></p>
                    <p>Salida: <span ng-non-bindable>{{Cliente.Salida}}</span></p>
                    <p>Geocerca: <span ng-non-bindable>{{Cliente.Distancia + ' ' + Cliente.Unidad}} </span></p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
 </div>
 </div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">Aceptar ubicación</button>-->
</div>


<!--<div class="modal-header">
    <h4 class="modal-title">3815 - STA CATARINA</h4>
</div>
<div class="modal-body">
    <div class="modal-map">
        <ui-gmap-google-map center='map.center' control="map.control" zoom='map.zoom' events='map.events'>
            <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" events="marker.events">
        </ui-gmap-google-map>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Aceptar ubicación</button>
</div>-->
