
<div style="width: 100%;height: 500px;overflow: scroll;">
    <div class="panel panel-info" ng-if="modulo === 'Monitoreo'">
        <div class="panel-heading"><h3>Monitoreo</h3></div>
        <div class="panel-body">
            <div style="margin-left:1%;margin-right:1%;text-align:justify">
                <p class="card-text">El módulo de Monitoreo permite consultar en línea las asistencias que los promotores registran en tienda desde la aplicación móvil, desde este módulo el vendedor puede tener la información en tiempo real de sus promotores.</p>

                <h4 style="margin-top:5%;color:gray;">Incidencias Parciales</h4>
                
                <p class="card-text">El módulo de incidencias parciales esta habilitado solo para el perfil de vendedor, y muestra todas las asistencias que no tiene el flujo completo (comida no registrada ó salida no registrada en tienda). El vendedor podrá registrar una incidencia parcial si tiene una justificación del porque no se completo el flujo de la asistencia, solo las incidencias reportadas seran sujetas a aprobación por parte del departamento de Recursos Humanos.</p>

                <h4 style="margin-top:5%;color:gray;">Aprobar Incidencias Parciales</h4>
            
                <p class="card-text">Este módulo esta habilitado solo para el perfil de Reclutamiento de Personal quien sera el encargado de aprobar una incidencia parcial.</p>

            </div>       
        </div>
    </div>
    <div class="panel panel-info" ng-if="modulo === 'Transferencias'">
        <div class="panel-heading"><h3>Transferencias</h3></div>
        <div class="panel-body">
            <div style="margin-left:1%;margin-right:1%;text-align:justify">
                <p class="card-text">El módulo de Transferencias despliega los registros generados a partir de una "NO ASISTENCIA" del promotor y permite la clasificación de estas por alguno de los siguientes motivos : Incapacidad, Vacaciones, Permiso y Permiso con goce de sueldo.</p>
                
                <p class="card-text">Las incidencias son generadas automaticamente por el sistema mediante una tarea programada diariamente que revisa que promotores no tienen un registro de asistencia del dia anterior.Todas las incidencias generadas automaticamente estan clasificadas por default como FALTA, si no se clasifican contabilizará como falta en los reportes correspondientes.</p>
            
                <p class="card-text">Es importante la programación de descansos de los promotores ya que de no hacerlo se registrara la ausencia del promotor como FALTA</p>
            
                <p class="card-text">Si existen incidencias generadas en dia de descanso de algun promotor se debe a que la programación del descanso se hizo posterior al registro automatico de incidencias. En este caso en el sistema se tendria una falta y un descanso al mismo tiempo.</p>
            </div>       
        </div>
    </div>
    <div class="panel panel-info" ng-if="modulo === 'Descansos'">
        <div class="panel-heading"><h3>Programar Descansos</h3></div>
        <div class="panel-body">
            <div style="margin-left:1%;margin-right:1%;text-align:justify">
                <p class="card-text">El módulo para programar descansos esta habilitado solo para el perfil de vendedor y permite registrar los descansos de sus promotores asignados y consultar los descansos ya registrados.</p>

                <h4 style="margin-top:5%;color:gray;">Programar</h4>
                
                <p class="card-text">Esta opción le permite al vendedor registrar en el sistema los descansos de sus promotores. Es importante que esta tarea sea bien programada ya que si no se registra un descanso el sistema tomara como FALTA la inasistencia.</p>
            
                <p class="card-text">Los descansos deben ser registrados antes de que el sistema genere las incidencias diarias.</p>
            
            </div>       
        </div>
    </div>
    <div class="panel panel-info" ng-if="modulo === 'Incidencias'">
        <div class="panel-heading"><h3>Incidencias</h3></div>
        <div class="panel-body">
            <div style="margin-left:1%;margin-right:1%;text-align:justify">
                <p class="card-text">El módulo de incidencias despliega los registros generados a partir de una "NO ASISTENCIA" del promotor y permite la clasificación de estas por alguno de los siguientes motivos : Incapacidad, Vacaciones, Permiso y Permiso con goce de sueldo.</p>
                
                <p class="card-text">Las incidencias son generadas automaticamente por el sistema mediante una tarea programada diariamente que revisa que promotores no tienen un registro de asistencia del dia anterior.Todas las incidencias generadas automaticamente estan clasificadas por default como FALTA, si no se clasifican contabilizará como falta en los reportes correspondientes.</p>
            
                <p class="card-text">Es importante la programación de descansos de los promotores ya que de no hacerlo se registrara la ausencia del promotor como FALTA</p>
            
                <p class="card-text">Si existen incidencias generadas en dia de descanso de algun promotor se debe a que la programación del descanso se hizo posterior al registro automatico de incidencias. En este caso en el sistema se tendria una falta y un descanso al mismo tiempo.</p>
            </div>       
        </div>
    </div>
    <div class="panel panel-info" ng-if="modulo === 'Usuarios'">
        <div class="panel-heading"><h3>Usuarios</h3></div>
        <div class="panel-body">
            <div style="margin-left:1%;margin-right:1%;text-align:justify">
                <p class="card-text">El módulo de usuarios esta habilitado solo para el perfil de reclutamiento de personal y permite consultar la plantilla actual de promotores en las tiendas Home Depot asi como la alta de nuevos promotores.</p>

                <h4 style="margin-top:5%;color:gray;">Editar Usuario</h4>

                <p class="card-text">Si requiere cambiar el Estatus de algun promotor o modificar algun dato desde la pantalla de consulta seleccione el usuario y de click en el icono <i class="fa fa-pencil-square-o"></i>.</p>
                
                <h4 style="margin-top:5%;color:gray;">Nuevo Usuario</h4>
                
                <p class="card-text">En esta opción podrá dar de alta los nuevos promotores, es importante tener el supervisor y la tienda que estaran relacionados con el nuevo promotor. Tambien se deberá asignar un código y password para que el promotor pueda tener acceso a la aplicación móvil y pueda registrar sus asistencias en tienda.</p>
            
                
            </div>       
        </div>
    </div>

</div>